body{
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.4;   /*space for each line of text, uses current font size as "multiplier" ; https://www.w3schools.com/cssref/pr_dim_line-height.asp*/
    color: white;
    width: 640px; 
    background-image: url(p-background.svg);
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: white;
    padding: 40px;
}

nav {
    background-color: rgb(195, 58, 58);
    padding: 20px 40px 20px 40px; 
    /*order is clockwise: north, east, south, west*/
}

nav a {
    margin-right: 15px;
    color: white;
    text-decoration: none; /*get the underlines and other default a tag styles out*/
}

section {
    background-color: #5000ff;
    padding: 40px;
}

h2 {
    font-size: 32px;
    line-height: 1.2;
}